[% USE Asset %]
[% USE Koha %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Circulation &rsaquo; Recall print receipt</title>
[% INCLUDE 'doc-head-close.inc' %]
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="[% IF ( IntranetFavicon ) %][% IntranetFavicon %][% ELSE %][% interface %]/[% theme %]/img/favicon.ico[% END %]" type="image/x-icon" />
[% Asset.css("css/print.css") %]
[% IF ( Koha.Preference('SlipCSS') ) %]
<link rel="stylesheet" type="text/css" href="[% Koha.Preference('SlipCSS') %]" />
[% END %]

[% INCLUDE 'slip-print.inc' #printThenClose %]
</head>
<body id="circ_printslip" class="circ">
<div id="receipt">

[% IF plain %]
<pre>
[% IF ( slip ) %][% slip %][% ELSE %]No slip template found[% END %]
</pre>
[% ELSE %]
[% IF ( slip ) %][% slip %][% ELSE %]No slip template found[% END %]
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
