[% USE Asset %]
[% USE KohaDates %]
[% USE Branches %]
[% USE Koha %]
[% USE Borrowers %]
[% USE ItemTypes %]
[% USE AuthorisedValues %]
[% USE ColumnsSettings %]
[% SET footerjs = 1 %]
[% BLOCK display_bormessagepref %]
    [% IF ( bormessagepref ) %]
        <li>Patron notification:
            [% FOREACH mtt IN bormessagepref.keys %]
                [%~ IF ( mtt == 'email' ) %] Email[% END ~%]
                [%~ IF ( mtt == 'phone' ) %] Phone[% END ~%]
                [%~ IF ( mtt == 'sms' ) %] SMS[% END ~%]
                [%~ UNLESS loop.last %], [% ELSE %].[% END ~%]
            [% END %]
        </li>
           [% ELSE %]
        <li>Patron is not notified.</li>
    [% END %]
[% END %]

[% BLOCK display_holdpatron_address %]
    [% IF Koha.Preference( 'AddressFormat' ) %]
        [% INCLUDE "member-display-address-style-${ Koha.Preference( 'AddressFormat' ) }.inc" %]
    [% ELSE %]
        [% INCLUDE 'member-display-address-style-us.inc' %]
    [% END %]
[% END %]

[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Circulation &rsaquo; Check in [% title |html %]</title>
[% Asset.css("css/datatables.css") %]
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="circ_returns" class="circ">
<span class="audio-alert-success"></span>

[% INCLUDE 'header.inc' %]
[% INCLUDE 'checkin-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a> &rsaquo; Check in</div>

[% IF Koha.Preference('CircSidebar') %]<div id="doc3" class="yui-t2">[% ELSE %]<div id="doc" class="yui-t7">[% END %]

<div id="bd">
<div id="yui-main">
[% IF Koha.Preference('CircSidebar') %]<div class="yui-b">[% END %]
<div class="yui-g">

[% IF privacy == 2 AND NOT Koha.Preference('AnonymousPatron') %]
    <div class="dialog alert"><strong>Error:</strong> This patron has requested their circulation history be anonymized on check-in, but the AnonymousPatron system preference is empty or incorrect.</div>
[% ELSIF NOT Koha.Preference('AnonymousPatron') AND Koha.Preference('OPACPrivacy') %]
    <div class="dialog alert"><strong>Error:</strong> The system preference OPACPrivacy is set but AnonymousPatron is not! Please correct this before continuing circulation.</div>
[% END %]

[% IF additional_materials %]
    <div class="dialog message" id="materials">Note about the accompanying materials: <br />
    [% additional_materials %]
    </div>
[% END %]

[% IF ( collectionItemNeedsTransferred ) %]
 <div id="rotating-collection" class="dialog message">
        <h3>Please transfer item to: [% Branches.GetName( collectionBranch ) %]</h3>
            <p><a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">[% itembarcode |html %]: [% title |html %]</a></p>
            <p>This item is part of a rotating collection.</p>
            <p><button type="button" class="openWin" data-url="transfer-slip.pl?transferitem=[% itemnumber %]&amp;branchcode=[% collectionBranch %]&amp;op=slip"><i class="fa fa-print"></i> Print slip</button></p>
</div>
[% END %]

<!-- Patron has added an issue note -->
[% IF ( issue.note) %]
    <div class="dialog message">
        <h1>Patron note</h1>
        <p>[% issue.notedate | $KohaDates %]</p>
        <p><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=[% itembiblionumber %]"> [% title |html %]</a> [% author %]</p>
        <p>[% issue.note | html %]</p>
    </div>
[% END %]

<!-- Patron has fines -->
[% IF ( fines ) %]
    <div class="dialog alert">
        <h3>Patron has outstanding fines of [% fines %].</h3>
        <p><a href="/cgi-bin/koha/members/pay.pl?borrowernumber=[% fineborrowernumber %]">Make payment</a>.</p>
    </div>
[% END %]

<!-- Patron has waiting holds -->
[% IF ( waiting_holds ) %]
    <div id="awaiting-pickup" class="dialog message">
        <h3>[% holdsfirstname %] [% holdssurname %] has [% waiting_holds %] hold(s) waiting for pickup.</h3>
        <p><a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=[% holdsborrowernumber %]">Check out to this patron</a>.</p>
    </div>
[% END %]

<!-- Patron is restricted and checkin was backdated -->
[% IF return_date_was_overriden && Borrowers.IsDebarred( borrower ) %]
    <div id="restricted_backdated" class="dialog message">
        <h3>
            <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% patron.borrowernumber %]">
                [% patron.firstname %] [% patron.surname %]
            </a>
            is restricted. Please verify this patron should still be restricted.
        </h3>
    </div>
[% END %]

[% IF ( wrongbranch ) %]
    <div class="dialog alert"><h3>Cannot check in</h3>
        <p><a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">[% itembarcode |html %]: [% title |html %]</a></p>
        </p><strong>NOT CHECKED IN</strong></p>
        <p>This item must be checked in at following library: <strong>[% Branches.GetName( rightbranch ) %]</strong></p>
    </div>
[% END %]

<!-- case of a mistake in transfer loop -->
[% IF ( WrongTransfer ) %]
    <div id="return2" class="dialog message">
        <!-- WrongTransfer -->
        <h3>Please return item to: [% Branches.GetName( TransferWaitingAt ) %]</h3>
            <p><a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">[% itembarcode |html %]: [% title |html %]</a></p>
        <button type="submit" class="openWin" data-url="transfer-slip.pl?transferitem=[% itemnumber %]&amp;&amp;branchcode=[% TransferWaitingAt %]&amp;op=slip"><i class="fa fa-print"></i> Print transfer slip</button>
        <button class="deny" type="submit" onclick="window.location.href='/cgi-bin/koha/circ/returns.pl?itemnumber=[% itemnumber %]&amp;canceltransfer=1'"><i class="fa fa-times"></i> Cancel transfer</button>
[% IF ( patron.cardnumber ) %]<h5>Hold for:</h5>
        <ul>
            <li><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% patron.borrowernumber %]">
            [% patron.surname %], [% patron.firstname %]</a> ([% patron.cardnumber %]) <span class="patron-category"> - [% patron.category.description %]</span> </li>
            [% INCLUDE display_holdpatron_address %]
            [% IF ( patron.phone ) %]<li>[% patron.phone %]</li>[% END %]
            [% IF ( patron.email ) %]<li><a id="boremail" href="mailto:[% patron.email %]">[% patron.email %]</a></li>[% END %]
        </ul>

    <form method="post" action="returns.pl" class="confirm">
            <input type="hidden" name="WT-itemNumber" value="[% WrongTransferItem %]" />
            <input type="hidden" name="WT-waitingAt" value="[% TransferWaitingAt %]" />
            <input type="hidden" name="WT-From" value="[% wtransfertFrom %]" />
            <button type="submit" class="approve"><i class="fa fa-check"></i> Confirm</button>
            <input type="hidden" name="print_slip" value="0" />
            <input type="hidden" name="borrowernumber" value="[% patron.borrowernumber %]" />
            <input type="hidden" name="biblionumber" value="[% biblionumber %]" />
            <button type="submit" class="print" onclick="this.form.print_slip.value = 1; this.form.submit();"><i class="fa fa-print"></i> Print slip and confirm</button>
        <input type="hidden" name="return_date_override" value="[% return_date_override %]" />
        <input type="hidden" name="return_date_override_remember" value="[% return_date_override_remember %]" />
    </form>
    [% END %]</div>
[% END %]

[% IF ( found ) %]
    [% IF ( waiting ) %]
        <div id="hold-found1" class="modal fade audio-alert-action">
            <div class="modal-dialog">
            <div class="modal-content">
            <form method="post" action="returns.pl" class="confirm">
                <div class="modal-header">
                    <h3>
                        Hold found (item is already waiting):
                        <br/>
                        <a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">
                            [% itembarcode |html %]: [% title |html %]
                        </a>
                    </h3>
                </div>

                <div class="modal-body">
                    [% IF ( reservenotes ) %]
                        <h4>Notes: [% reservenotes %]</h4>
                    [% END %]

                    <h4>Hold for:</h4>
                    <ul>
                    <li>
                        <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% patron.borrowernumber %]">[% patron.surname %], [% patron.firstname %]</a> ([% patron.cardnumber %])
                        <span class="patron-category"> - [% patron.category.description %]</span>
                    </li>
                    [% INCLUDE display_holdpatron_address %]
                    [% IF ( patron.phone ) %]
                        <li> [% patron.phone %]</li>
                    [% END %]

                    [% IF ( patron.email ) %]
                        <li><a id="boremail" href="mailto:[% patron.email %]">[% patron.email %]</a></li>
                    [% END %]

                    [% IF ( patron.debarred ) %]
                        <li class="error">Patron is RESTRICTED</li>
                    [% END %]

                    [% IF ( patron.gonenoaddress ) %]
                        <li class="error">Patron's address is in doubt</li>
                    [% END %]
                    </ul>

                    [% IF ( transfertodo ) %]
                        <h4><strong>Transfer to:</strong> [% Branches.GetName( destbranch ) %]</h4>
                    [% ELSE %]
                        <h4><strong>Hold at</strong> [% Branches.GetName( destbranch ) %]</h4>
                    [% END %]

                    [% FOREACH inputloo IN inputloop %]
                        <input type="hidden" name="ri-[% inputloo.counter %]" value="[% inputloo.barcode %]" />
                        <input type="hidden" name="dd-[% inputloo.counter %]" value="[% inputloo.duedate %]" />
                        <input type="hidden" name="bn-[% inputloo.counter %]" value="[% inputloo.borrowernumber %]" />
                    [% END %]

                    <input type="hidden" name="itemnumber" value="[% itemnumber %]" />
                    <input type="hidden" name="borrowernumber" value="[% patron.borrowernumber %]" />
                    <input type="hidden" name="biblionumber" value="[% itembiblionumber %]" />
                    <input type="hidden" name="reserve_id" value="[% reserve_id %]" />
                    <input type="hidden" name="diffBranch" value="[% destbranch %]" />
                    <input type="hidden" name="exemptfine" value="[% exemptfine %]" />
                    <input type="hidden" name="dropboxmode" value="[% dropboxmode %]" />
                    <input type="hidden" name="forgivemanualholdsexpire" value="[% forgivemanualholdsexpire %]" />

                    <input type="hidden" name="return_date_override" value="[% return_date_override %]" />
                    <input type="hidden" name="return_date_override_remember" value="[% return_date_override_remember %]" />
                </div>

                <div class="modal-footer">
                    <input type="hidden" name="cancel_reserve" value="0" />

                    <button type="submit" class="btn btn-default approve" data-dismiss="modal">
                        <i class="fa fa-check"></i> Confirm
                    </button>

                    <input type="hidden" name="print_slip" value="0" />
                    <button type="submit" class="btn btn-default print" onclick="this.form.print_slip.value = 1; this.form.submit();">
                        <i class="fa fa-print"></i> Print and confirm
                    </button>

                    <button type="submit" class="btn btn-default deny" onclick="this.form.cancel_reserve.value = 1; this.form.submit();">
                        <i class="fa fa-times"></i> Cancel hold
                    </button>
                </div>
            </form>
           </div>
           </div>
        </div>
    [% END %]

    [% IF ( diffbranch ) %]
		<!-- diffbranch -->
        <div id="transfer-needed" class="dialog message audio-alert-action">
            <h3>Hold needing transfer found</h3>
                <p><a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">[% itembarcode |html %]: [% title |html %]</a></p>
                <h4>Hold for: </h4>
                    <ul>
                        <li><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% patron.borrowernumber %]">[% patron.surname %], [% patron.firstname %]</a> ([% patron.cardnumber %]) <span class="patron-category"> - [% patron.category.description %]</span> </li>
                        [% INCLUDE display_holdpatron_address %]
                        [% IF ( patron.phone ) %]<li>[% patron.phone %]</li>[% END %]
                        [% IF ( patron.email ) %]<li>[% IF ( transfertodo ) %][% patron.email %][% ELSE %]<a id="boremail" href="mailto:[% patron.email %]">[% patron.email %]</a>[% END %]</li>[% END %]
[% IF ( patron.debarred ) %]<li class="error">Patron is RESTRICTED</li>[% END %]
[% IF ( patron.gonenoaddress ) %]<li class="error">Patron's address is in doubt</li>[% END %]
                    </ul>
        [% IF ( transfertodo ) %]
            <h4><strong>Transfer to:</strong> [% Branches.GetName( destbranch ) %]</h4>
        [% ELSE %]
            <h4><strong>Hold at</strong> [% Branches.GetName( destbranch ) %]</h4>
        [% END %]

        <form method="post" action="returns.pl" class="confirm">
            <button type="submit" class="approve"><i class="fa fa-check"></i> Confirm</button>
            <input type="hidden" name="print_slip" value="0" />
            <input type="hidden" name="borrowernumber" value="[% patron.borrowernumber %]" />
            <input type="hidden" name="biblionumber" value="[% itembiblionumber %]" />
            <button type="submit" class="print" onclick="this.form.print_slip.value = 1; this.form.submit();"><i class="fa fa-print"></i> Print slip and continue</button>
            [% FOREACH inputloo IN inputloop %]
                <input type="hidden" name="ri-[% inputloo.counter %]" value="[% inputloo.barcode %]" />
                <input type="hidden" name="dd-[% inputloo.counter %]" value="[% inputloo.duedate %]" />
                <input type="hidden" name="bn-[% inputloo.counter %]" value="[% inputloo.borrowernumber %]" />
            [% END %]
            <input type="hidden" name="diffBranch" value="[% destbranch %]" />
            <input type="hidden" name="exemptfine" value="[% exemptfine %]" />
            <input type="hidden" name="dropboxmode" value="[% dropboxmode %]" />
            <input type="hidden" name="forgivemanualholdsexpire" value="[% forgivemanualholdsexpire %]" />
            <input type="hidden" name="barcode" value="0" />

            <input type="hidden" name="return_date_override" value="[% return_date_override %]" />
            <input type="hidden" name="return_date_override_remember" value="[% return_date_override_remember %]" />
        </form>
		</div>
    [% END %]

    [% IF ( transfer ) %]
    <!-- transfer: item with no reservation, must be returned according to home library circulation rules -->
        <div id="return1" class="dialog message audio-alert-action">
            <h3>Please return item to: [% Branches.GetName( returnbranch ) %]</h3>
            <p><a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">[% itembarcode |html %]: [% title |html %]</a></p>
            <p><button type="button" class="openWin" data-url="transfer-slip.pl?transferitem=[% itemnumber %]&amp;branchcode=[% returnbranch %]&amp;op=slip"><i class="fa fa-print"></i> Print slip</button></p>
        </div>
    [% END %]

    [% IF ( needstransfer ) %]
	<!-- needstransfer -->
    <div id="item-transfer" class="dialog message audio-alert-action"><h3> This item needs to be transferred to [% Branches.GetName( returnbranch ) %]</h3>
    Transfer now?<br />
    <form method="post" action="returns.pl" name="mainform" id="mainform">
    [% IF itemnumber %]
        <button type="submit" name="dotransfer" value="Yes" class="print openWin" data-url="transfer-slip.pl?transferitem=[% itemnumber %]&amp;&amp;branchcode=[% returnbranch %]&amp;op=slip"><i class="fa fa-print"></i> Yes, print slip</button>
    [% END %]
    <button type="submit" name="dotransfer" value="Yes" class="submit"><i class="fa fa-check"></i> Yes</button>
    <button type="submit" name="notransfer" value="No" class="submit"><i class="fa fa-times"></i> No</button>
    <input type="hidden" name="tobranch" value="[% returnbranch %]" />
	<input type="hidden" name="transferitem" value="[% itemnumber %]" />
        <input type="hidden" name="exemptfine" value="[% exemptfine %]" />
        <input type="hidden" name="dropboxmode" value="[% dropboxmode %]" />
        <input type="hidden" name="forgivemanualholdsexpire" value="[% forgivemanualholdsexpire %]" />
	[% FOREACH inputloo IN inputloop %]
	<input type="hidden" name="ri-[% inputloo.counter %]" value="[% inputloo.barcode %]" />
	<input type="hidden" name="dd-[% inputloo.counter %]" value="[% inputloo.duedate %]" />
	<input type="hidden" name="bn-[% inputloo.counter %]" value="[% inputloo.borrowernumber %]" />
	[% END %]
	<input type="hidden" name="barcode" value="0" />
        <input type="hidden" name="return_date_override" value="[% return_date_override %]" />
        <input type="hidden" name="return_date_override_remember" value="[% return_date_override_remember %]" />
	</form>   </div>
    [% END %]

    [% IF ( diffbranch ) %]
	<!-- diffbranch -->
        <h3 class="audio-alert-action">Item consigned:</h3>
        <table>
        <caption><a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">[% title |html %]</a></caption>
        <tr>
            <th>Hold for:</th>
            <td>[% INCLUDE 'patron-title.inc' patron=patron %]</td>
        </tr>
        </table>
        <form method="post" action="returns.pl"><input type="submit" value="OK" />
            [% FOREACH inputloo IN inputloop %]
                [% UNLESS ( inputloo.first ) %]
                    <input type="hidden" name="ri-[% inputloo.counter %]" value="[% inputloo.barcode %]" />
                    <input type="hidden" name="dd-[% inputloo.counter %]" value="[% inputloo.duedate %]" />
                    <input type="hidden" name="bn-[% inputloo.counter %]" value="[% inputloo.borrowernumber %]" />
                [% END %]
            [% END %]

            <input type="hidden" name="return_date_override" value="[% return_date_override %]" />
            <input type="hidden" name="return_date_override_remember" value="[% return_date_override_remember %]" />

            <input type="hidden" name="barcode" value="0" />
        </form>
    [% END %]


    <!-- case of simple return no issue or transfer but with a reservation  -->
    [% IF ( reserved ) %]
	<!--  reserved  -->
        <div id="hold-found2" class="modal fade audio-alert-action">
            <div class="modal-dialog">
            <div class="modal-content">
            <form method="post" action="returns.pl" class="confirm">
                <div class="modal-header">
                    <h3>
                        Hold found:
                        <br/>
                        <a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">
                            [% itembarcode |html %]: [% title |html %]
                        </a>
                </div>

                <div class="modal-body">
                    [% IF ( reservenotes ) %]
                        <h4>Notes: [% reservenotes %]</h4>
                    [% END %]
                    <h5>Hold for:</h5>
                        <li>
                            [% INCLUDE 'patron-title.inc' patron=patron %]
                            <span class="patron-category"> - [% patron.category.description %]</span>
                        </li>

                        [% INCLUDE display_holdpatron_address %]

                        [% IF ( patron.phone ) %]
                            <li>[% patron.phone  %]</li>
                        [% END %]

                        [% IF ( patron.email ) %]
                            <li>
                                [% IF ( transfertodo ) %]
                                    [% patron.email %]
                                [% ELSE %]
                                    <a id="boremail" href="mailto:[% patron.email %]">[% patron.email %]</a>
                                [% END %]
                            </li>
                        [% END %]

                        [% UNLESS ( transfertodo) %]
                            [% INCLUDE display_bormessagepref %]
                        [% END %]

                        [% IF ( patron.debarred ) %]
                            <li class="error">Patron is RESTRICTED</li>
                        [% END %]

                        [% IF ( patron.gonenoaddress ) %]
                            <li class="error">Patron's address is in doubt</li>
                        [% END %]

                    [% IF ( transfertodo ) %]
                        <h4><strong>Transfer to:</strong> [% Branches.GetName( destbranch ) %]</h4>
                    [% ELSE %]
                        <h4><strong>Hold at</strong> [% Branches.GetName( destbranch ) %]</h4>
                    [% END %]

                    <input type="hidden" name="print_slip" value="0" />


                    [% FOREACH inputloo IN inputloop %]
                        <input type="hidden" name="ri-[% inputloo.counter %]" value="[% inputloo.barcode %]" />
                        <input type="hidden" name="dd-[% inputloo.counter %]" value="[% inputloo.duedate %]" />
                        <input type="hidden" name="bn-[% inputloo.counter %]" value="[% inputloo.borrowernumber %]" />
                    [% END %]

                    <input type="hidden" name="itemnumber" value="[% itemnumber %]" />
                    <input type="hidden" name="borrowernumber" value="[% patron.borrowernumber %]" />
                    <input type="hidden" name="biblionumber" value="[% itembiblionumber %]" />
                    <input type="hidden" name="reserve_id" value="[% reserve_id %]" />
                    <input type="hidden" name="diffBranch" value="[% destbranch %]" />
                    <input type="hidden" name="exemptfine" value="[% exemptfine %]" />
                    <input type="hidden" name="dropboxmode" value="[% dropboxmode %]" />
                    <input type="hidden" name="forgivemanualholdsexpire" value="[% forgivemanualholdsexpire %]" />
                    <input type="hidden" name="return_date_override" value="[% return_date_override %]" />
                    <input type="hidden" name="return_date_override_remember" value="[% return_date_override_remember %]" />
                </div>

                <div class="modal-footer">
                    [% IF ( transfertodo ) %]
                        <button type="submit" class="btn btn-default approve">
                            <i class="fa fa-check"></i> Confirm hold and transfer
                        </button>
                        <button type="submit" class="btn btn-default print" onclick="this.form.print_slip.value = 1; this.form.submit()">
                            <i class="fa fa-print"></i> Print slip, transfer, and confirm
                        </button>
                    [% ELSE %]
                        <button type="submit" class="btn btn-default approve">
                            <i class="fa fa-check"></i> Confirm hold
                        </button>
                        <button type="submit" class="btn btn-default print" onclick="this.form.print_slip.value = 1; this.form.submit();">
                            <i class="fa fa-print"></i> Print slip and confirm
                        </button>
                    [% END %]

                    <button data-dismiss="modal" aria-hidden="true" type="submit" class="btn btn-danger deny" onclick="$('#barcode').focus(); return false;">
                        <i class="fa fa-times"></i> Ignore
                    </button>
                </div>
            </form>
            </div>
            </div>
        </div>
    [% END %]

    <!-- item has been recalled  -->
    [% IF ( recalled ) %]
    <!--  recalled  -->
        <div id="recalled" class="modal fade audio-alert-action">
            <div class="modal-dialog">
            <div class="modal-content">
            <form method="post" action="/cgi-bin/koha/circ/returns.pl" class="confirm">
                <div class="modal-header">
                        <h3>Recall found: <br/>
                        <a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">[% itembarcode |html %]: [% title |html %] </a>
                    </h3>
                </div>

                <div class="modal-body">
                    [% IF ( recallnotes ) %]
                        <h4>Notes: [% recall.recallnotes %]</h4>
                    [% END %]
                    <h5>This item has been recalled by:</h5>
                    <li>
                        <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% patron.borrowernumber %]">[% patron.surname %], [% patron.firstname %]</a>
                        ([% patron.cardnumber %])
                        <span class="patron-category"> - [% patron.category.description %]</span>
                    </li>

                    [% INCLUDE display_holdpatron_address %]

                    [% IF ( patron.phone ) %]
                        <li>[% patron.phone %]</li>
                    [% END %]

                    [% IF ( patron.email ) %]
                        <li><a id="boremail" href="mailto:[% patron.email %]">[% patron.email %]</a></li>
                    [% END %]

                    [% IF ( patron.debarred ) %]
                        <li class="error">Patron is RESTRICTED</li>
                    [% END %]

                    [% IF ( patron.gonenoaddress ) %]
                        <li class="error">Patron's address is in doubt</li>
                    [% END %]

                    <h4><strong>Wait for pickup at</strong> [% recall.library.branchname %]</h4>

                    <input type="hidden" name="itemnumber" value="[% recall.itemnumber %]" />
                    <input type="hidden" name="borrowernumber" value="[% patron.borrowernumber %]" />
                    <input type="hidden" name="biblionumber" value="[% itembiblionumber %]" />
                    <input type="hidden" name="recall_id" value="[% recall.recall_id %]" />
                    <input type="hidden" name="diffBranch" value="[% recall.branchcode %]" />
                    <input type="hidden" name="print_recall_slip" value="0" />
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-default approve">
                        <i class="fa fa-check"></i> Confirm recall waiting
                    </button>

                    <input type="hidden" name="print_slip" value="0" />
                    <button type="submit" class="btn btn-default print" onclick="this.form.print_recall_slip.value = 1; this.form.submit();">
                        <i class="fa fa-print"></i> Print and confirm
                    </button>

                    <button data-dismiss="modal" aria-hidden="true" type="submit" class="btn btn-danger deny" onclick="$('#barcode').focus(); return false;">
                        <i class="fa fa-times"></i> Ignore
                    </button>
                </div>
            </form>
            </div>
            </div>
        </div>
    [% END %]
[% END %]

[% IF ( errmsgloop ) %]
    <div class="dialog alert audio-alert-warning">
        <h3>Check in message</h3>
        [% IF itembiblionumber %]
            <p><a href="/cgi-bin/koha/catalogue/detail.pl?type=intra&amp;biblionumber=[% itembiblionumber %]">[% itembarcode |html %]: [% title |html %]</a></p>
        [% END %]
        [% FOREACH errmsgloo IN errmsgloop %]
            [% IF ( errmsgloo.NotForLoanStatusUpdated ) %]
                <p class="problem">
                    Not for loan status updated.
                    <br />Old value:
                    [% IF errmsgloo.NotForLoanStatusUpdated.from %]
                        [% AuthorisedValues.GetByCode( 'NOT_LOAN', errmsgloo.NotForLoanStatusUpdated.from ) %].
                    [% ELSE %]
                        Available for loan.
                    [% END %]
                    <br />New value:
                    [% IF errmsgloo.NotForLoanStatusUpdated.to %]
                        [% AuthorisedValues.GetByCode( 'NOT_LOAN', errmsgloo.NotForLoanStatusUpdated.to ) %].
                    [% ELSE %]
                        Available for loan.
                    [% END %]
                </p>
            [% END %]
            [% IF ( errmsgloo.badbarcode ) %]
                <p class="problem">No item with barcode: [% errmsgloo.msg | html %]</p>
            [% END %]
            [% IF ( errmsgloo.ispermanent ) %]
                <p class="problem">Please return item to: [% Branches.GetName( errmsgloo.msg ) %]</p>
            [% END %]
            [% IF ( errmsgloo.notissued ) %]
                <p class="problem">Not checked out.</p>
            [% END %]
            [% IF ( errmsgloo.localuse) %]
                <p class="problem">Local use recorded</p>
            [% END %]
            [% IF ( errmsgloo.waslost ) %]
                <p class="problem">Item was lost, now found.</p>
                [% IF LostItemFeeRefunded and not Koha.Preference('BlockReturnOfLostItems') %]
                    <p class="problem">A refund has been applied to the borrowing patron's account.</p>
                [% ELSIF Koha.Preference('BlockReturnOfLostItems') %]
                   <h5>Cannot check in</h5>
                   <p><strong>NOT CHECKED IN</strong></p>
                [% ELSE %]
                    <p class="problem">Any lost item fees for this item will remain on the patron's account.</p>
                [% END %]
            [% END %]
            [% IF ( errmsgloo.withdrawn ) %]
                [% IF Koha.Preference('BlockReturnOfWithdrawnItems') %]
                   <h5>Cannot check in</h5>
                   <p><strong>NOT CHECKED IN</strong></p>
                [% END %]
               <p class="problem">Item is withdrawn.</p>
            [% END %]
            [% IF ( errmsgloo.debarred ) %]
                <p class="problem"><a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=[% errmsgloo.debarborrowernumber %]">[% errmsgloo.debarname %]([% errmsgloo.debarcardnumber %])</a> is now debarred until [% errmsgloo.debarred | $KohaDates %].</p>
            [% END %]
            [% IF ( errmsgloo.prevdebarred ) %]
                <p class="problem"><b>Reminder: </b>Patron was earlier restricted until [% errmsgloo.prevdebarred | $KohaDates %].</p>
            [% END %]
            [% IF ( errmsgloo.foreverdebarred ) %]
                <p class="problem"><b>Reminder: </b>Patron has an indefinite restriction.</p>
            [% END %]

            [% IF errmsgloo.data_corrupted %]
                <p class="problem">The item has not been checked in due to a configuration issue in your system. You must ask an administrator to take a look at the <a href="/cgi-bin/koha/about.pl#sysinfo">about page</a> and search for the "data problems" section</p>
            [% END %]
        [% END %]
    </div>
[% END %]

[% IF ( checkinmsg ) %]
    [% IF ( checkinmsgtype == 'alert' ) %]
        <div class="dialog alert">
    [% ELSE %]
        <div class="dialog message">
    [% END %]
            <p class="problem">[% checkinmsg | html_line_break %]</p>
        </div>
[% END%]

    <div id="exemptfines" class="dialog message" style="display:none;">
        <p>Fines for returned items are forgiven.</p>
    </div>
    <div id="forgivemanualholdsexpire-alert" class="dialog message" style="display:none;">
        <p>Fines are not charged for manually cancelled holds.</p>
    </div>
    <div id="dropboxmode" class="dialog message" style="display:none;">
        <p>Book drop mode.  (Effective checkin date is [% dropboxdate %] ).</p>
    </div>
</div>
<div class="yui-g">
    <form id="checkin-form" method="post" action="/cgi-bin/koha/circ/returns.pl" autocomplete="off" >
    <div class="yui-u first">
            <fieldset>
	<legend>Check in</legend>
            <label for="barcode">Enter item barcode: </label>
			[% IF ( exemptfine ) %]
			<input name="barcode" id="barcode" size="14" class="focus alert"/>
			[% ELSIF ( dropboxmode ) %]
			<input name="barcode" id="barcode" size="14" class="focus alert"/>
			[% ELSE %]
			<input name="barcode" id="barcode" size="14" class="focus"/>
			[% END %]
            <input type="submit" class="submit" value="Submit" />

            [% IF Koha.Preference('SpecifyReturnDate') %]
                <div class="date-select" id="return_date_override_fields">
                    <div class="hint">Specify return date [% INCLUDE 'date-format.inc' %]: </div>

                    <input type="text" size="13" id="return_date_override" name="return_date_override" value="[% return_date_override %]" />

                    <label for="return_date_override_remember"> Remember for next check in:</label>
                    [% IF ( return_date_override_remember ) %]
                        <input type="checkbox" id="return_date_override_remember" onclick="this.form.barcode.focus();" name="return_date_override_remember" checked="checked" />
                    [% ELSE %]
                        <input type="checkbox" id="return_date_override_remember" onclick="this.form.barcode.focus();" name="return_date_override_remember" />
                    [% END %]

                    <input type="button" class="action" id="cleardate" value="Clear" name="cleardate" onclick="this.checked = false; this.form.return_date_override.value = ''; this.form.return_date_override_remember.checked = false; this.form.barcode.focus(); return false;" />
            </div>
        [% END %]
            [% FOREACH inputloo IN inputloop %]
                <input type="hidden" name="ri-[% inputloo.counter %]" value="[% inputloo.barcode %]" />
                <input type="hidden" name="dd-[% inputloo.counter %]" value="[% inputloo.duedate %]" />
                <input type="hidden" name="bn-[% inputloo.counter %]" value="[% inputloo.borrowernumber %]" />
            [% END %]


            </fieldset>
            </div>
            <div class="yui-u">
            <fieldset id="checkin_options">
                <legend>Options</legend>
                    [% IF ( CAN_user_updatecharges_writeoff && overduecharges ) %]
                    <p>
                        [% IF ( exemptfine ) %]
                        <input type="checkbox" id="exemptcheck" name="exemptfine" value="exemptfine" checked="checked" />
                        [% ELSE %]
                        <input type="checkbox" id="exemptcheck" name="exemptfine" value="exemptfine" />
                        [% END %]
                        <label for="exemptcheck">Forgive overdue charges</label>
                    </p>
                    [% END %] <!-- overduecharges -->
                    <p>
                        [% IF ( dropboxmode ) %]
                        <input type="checkbox" id="dropboxcheck" name="dropboxmode" value="dropboxmode" checked="checked" />
                        [% ELSE %]
                        <input type="checkbox" id="dropboxcheck" name="dropboxmode" value="dropboxmode" />
                        [% END %]
                        <label for="dropboxcheck">Book drop mode</label>
                    </p>
                    [% IF Koha.Preference('ExpireReservesMaxPickUpDelayCharge') %]
                    <p>
                        [% IF ( forgivemanualholdsexpire ) %]
                        <input type="checkbox" id="forgivemanualholdsexpire" name="forgivemanualholdsexpire" value="forgivemanualholdsexpire" checked="checked" />
                        [% ELSE %]
                        <input type="checkbox" id="forgivemanualholdsexpire" name="forgivemanualholdsexpire" value="forgivemanualholdsexpire" />
                        [% END %]
                        <label for="forgivemanualholdsexpire">Forgive fees for manually expired holds</label>
                    </p>
                    [% END %] <!-- overduecharges -->
            </fieldset>
        </div>
    </form>
</div>

[% IF ( riloop ) %]
    <h2>Checked-in items</h2>
    <table id="checkedintable">
    <thead><tr><th class="ci-duedate">Due date</th><th class="ci-title">Title</th><th class="ci-author">Author</th><th class="ci-barcode">Barcode</th><th class="ci-homelibrary">Home library</th><th class="ci-holdinglibrary">Holding library</th><th class="ci-shelvinglocation">Shelving location</th><th class="ci-callnumber">Call number</th><th class="ci-dateaccessioned">Date acquired</th><th class="ci-type">Type</th><th class="ci-patron">Patron</th><th class="ci-note">Note</th></tr></thead>

        [% FOREACH riloo IN riloop %]
            <tr>
            <td class="ci-duedate">[% IF ( riloo.duedate ) %]
                    [% IF ( riloo.return_overdue ) %]
                        <span class="overdue">[% riloo.duedate %] (overdue)</span>
                    [% ELSE %][% riloo.duedate %]
                    [% END %]
                [% ELSE %]Not checked out
                [% END %]
            </td>
            <td class="ci-title"><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=[% riloo.itembiblionumber %]">
                    [% riloo.itemtitle |html %]
                </a>
                [% IF ( riloo.enumchron ) %]
                    <br/>
                    <span class="item_enumeration" style="white-space: nowrap;">[% riloo.enumchron %]</span>
                [% END %]
            </td>
            <td class="ci-author">[% riloo.itemauthor %]</td>
            <td class="ci-barcode"><a href="/cgi-bin/koha/catalogue/moredetail.pl?biblionumber=[% riloo.itembiblionumber %]&amp;itemnumber=[% riloo.itemnumber %]#item[% riloo.itemnumber %]">[% riloo.barcode %]</a></td>
            <td class="ci-homelibrary">[% Branches.GetName( riloo.homebranch ) %]</td>
            <td class="ci-holdinglibrary">[% Branches.GetName( riloo.holdingbranch ) %]</td>
            <td class="ci-shelvinglocation">[% riloo.location %]</td>
            <td class="ci-callnumber">[% riloo.itemcallnumber %]</td>
            <td class="ci-dateaccessioned">[% riloo.dateaccessioned | $KohaDates %]</td>
            <td class="ci-type">[% ItemTypes.GetDescription( riloo.itemtype ) %] [% AuthorisedValues.GetByCode('CCODE', riloo.ccode) %]</td>
            <td class="ci-patron">[% IF ( riloo.duedate ) %]
                <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% riloo.patron.borrowernumber %]">
                    [% riloo.patron.surname %], [% riloo.patron.firstname %] ([% riloo.patron.category.description %])
                </a>
                [% IF riloo.borissuescount %]
                    <span class="results_summary nowrap">
                        <span class="label">Checkouts:</span>
                        <span class="number_box">
                            <a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=[% riloo.patron.borrowernumber %]">[% riloo.borissuescount %]</a>
                        </span>
                    </span>
                [% END %]
            [% ELSE %]Not checked out[% END %]</td>
            <td class="ci-note">
                [% IF ( riloo.patron.borrowernotes ) %]<p><span class="circ-hlt patron-note">[% riloo.patron.borrowernotes %]</p></span>[% END %]
                [% IF ( riloo.itemnote ) %]<p><span class="circ-hlt item-note-public">[% riloo.itemnote %]</p></span>[% END %]
                [% IF ( riloo.itemnotes_nonpublic ) %]<p><span class="circ-hlt item-note-nonpublic">[% riloo.itemnotes_nonpublic %]</p></span>[% END %]
            </td>
           </tr>
        [% END %]
    </table>
[% END %]
</div>
[% IF Koha.Preference('CircSidebar') %]
</div>
<div class="yui-b noprint">
    [% INCLUDE 'circ-nav.inc' %]
</div>
[% END %]
</div>
</div>
</div>

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'datatables.inc' %]
    [% INCLUDE 'columns_settings.inc' %]
    [% INCLUDE 'calendar.inc' %]
    [% Asset.js("lib/jquery/plugins/jquery-ui-timepicker-addon.min.js") %]
    [% INCLUDE 'timepicker.inc' %]

    <script type="text/javascript">
        function Dopop(link) {
            var newin = window.open(link, 'popup', 'width=600,height=400,resizable=1,toolbar=0,scrollbars=1,top');
            $("#barcode").focus();
        }
        $(document).ready(function () {
            $(".modal").modal({ backdrop: 'static' }).on('shown', function() {
                $("#barcode").prop("disabled", true);
            }).on('hidden', function() {
                $("#barcode").prop("disabled", false).focus();
            });

            $(".modal").on('hidden.bs.modal', function (e) { $("#barcode").focus(); });

            [% IF print_recall_slip %]
                Dopop('recall-pickup-slip.pl?borrowernumber=[% borrowernumber %]&amp;biblionumber=[% biblionumber %]&amp;recall_id=[% recall_id %]');
            [% END %]

            [% IF print_slip %]
                Dopop('hold-transfer-slip.pl?borrowernumber=[% borrowernumber %]&amp;biblionumber=[% biblionumber %]&amp;itemnumber=[% itemnumber %]');
            [% END %]
            var columns_settings = [% ColumnsSettings.GetColumns( 'circ', 'returns', 'checkedintable', 'json' ) %]
            var returns_table = KohaTable("checkedintable", {
                    "bFilter":false,
                    "bPaginate":false,
                    "bInfo":false,
                    "bSort":false,
                    "dom": 'B<"clearfix">t',
                    }, columns_settings);

            $("#return_date_override").datetimepicker({
                onClose: function(dateText, inst) {
                    if (validate_date(dateText, inst) ) {
                        $("#barcode").focus();
                    }
                },
                defaultDate: -1,
                hour: 23,
                minute: 59,
                maxDate: 0
            }).on("change", function(e, value) {
                if ( ! is_valid_date( $(this).val() ) ) {$(this).val("");}
            });
            $("#return_date_override").on("blur", function() {
                check_valid_return_date();
            });
            $("#checkin-form").submit(function( event ) {
                if ( !check_valid_return_date() ) {
                    event.preventDefault();
                }
            });

            function check_valid_return_date() {
                if ( $("#return_date_override").val() ) {
                    var datetime = DateTime_from_syspref( $("#return_date_override").val() );
                    var now = new Date();
                    if ( !datetime || datetime > now ) {
                        alert("Invalid return date/time!");
                        $("#return_date_override").val("")
                        return false;
                    }
                }
                return true;
            }

            $("#exemptcheck").change(function () {
                if (this.checked == true) {
                    $("#barcode").addClass("alert");
                    $("#exemptfines").show();
                } else {
                    $("#barcode").removeClass("alert");
                    $("#exemptfines").hide();
                }
                $("#barcode").focus();
            });
            $("#dropboxcheck").change(function () {
                if (this.checked == true) {
                    $("#barcode").addClass("alert");
                    $("#dropboxmode").show();

                    $("#return_date_override_fields :input").prop('disabled', true);
                    $("#return_date_override").datetimepicker("disable");
                } else {
                    $("#barcode").removeClass("alert");
                    $("#dropboxmode").hide();

                    $("#return_date_override_fields :input").prop('disabled', false);
                    $("#return_date_override").datetimepicker("enable");
                }
                $("#barcode").focus();
            });
            $("#forgivemanualholdsexpire").change(function () {
                if (this.checked == true) {
                    $("#barcode").addClass("alert");
                    $("#forgivemanualholdsexpire-alert").show();
                } else {
                    $("#barcode").removeClass("alert");
                    $("#forgivemanualholdsexpire-alert").hide();
                }
                $("#barcode").focus();
            });

            [% IF(overduecharges) %]
                $("#barcode").focus(function () {
                    if (($("#exemptcheck").prop("checked") == true) || ($("#dropboxcheck").prop("checked") == true)) {
                        $("#barcode").addClass("alert");
                    } else {
                        $("#barcode").removeClass("alert");
                    }
                });
                $("#barcode").blur(function () {
                    $("#barcode").removeClass("alert");
                });
            [% END %]

            $('.openWin').on("click",function(e){
                Dopop( $(this).data("url") );
            });
        });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
