[% USE KohaDates %]
[% USE Koha %]
[% USE Asset %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Recalls history for [% INCLUDE 'patron-title.inc' %]</title>
[% INCLUDE 'doc-head-close.inc' %]
<link rel="stylesheet" type="text/css" href="[% interface %]/[% theme %]/css/datatables.css" />
[% INCLUDE 'datatables.inc' %]
[% Asset.js("js/recalls.js") %]
</head>

<body id="recalls_history" class="pat">
    [% INCLUDE 'header.inc' %]
    [% INCLUDE 'patron-search.inc' %]

    <div id="breadcrumbs">
        <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo;
        <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo;
        Recalls history for [% INCLUDE 'patron-title.inc' %]
    </div>
    <div id="doc3" class="yui-t2">
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    [% INCLUDE 'members-toolbar.inc' %]
                    <h1>Recalls history</h1>
                    [% IF Koha.Preference('UseRecalls') %]
                         [% INCLUDE 'recalls.inc' %]
                    [% ELSE %]
                         <div class="dialog message">Recalls have not been enabled. Enable the <a href="/cgi-bin/koha/admin/preferences.pl?tab=circulation">UseRecalls</a> system preference to use recalls.</div>
                    [% END %]
                </div>
            </div>
        <div class="yui-b">
                [% INCLUDE 'circ-menu.inc' %]
        </div>
    </div>
[% INCLUDE 'intranet-bottom.inc' %]
